<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<appender name="File" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${logfile.name}" />
		<param name="append" value="${logfileAppendFlag}" />
		<param name="DatePattern" value="${logfileAppendDatePattern}" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<!-- Root Logger -->
	<root>
		<priority value="${loglevel}" />
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</root>

</log4j:configuration>